.Maincontainer{
    display:flex;
    height:100vh
}
.leftBox{
    flex:1;
}
.rightBox{
    flex:4
}
.input{
margin-left: 18%;
}
.txtinput{
    margin:'10px'
}
.btn{
    display: flex;
    justify-content: center;
}
