.DashboardDoc{
    display: flex;
    /* flex: 4; */
    
    
}
.doc-left {
    flex:1
}
.doc-right {
    flex:4;

}
.container-1{
    display: flex;
    
}
.recent-notification{
    /* background-color:#FAF7F0 ; */

    flex: 2;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    
}
.container-2{
    display: flex;
}
.recent-patient{
    flex: 2;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.recent-alerts{
    flex: 1;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.recent-messages{
    flex: 1;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}