.Navbar{
    flex: 1;
    background-color: #484a4a;
    /* height: calc(100vh - 80px); */
    position: sticky;
    /* top: 80px; */
    height: 100vh;
    width:100%


}
#leftside{
    padding: 22px;
    margin-bottom: 10px;
    color:  rgb(187, 205, 181);
        /* position: sticky; */
}
#acolor {
    color:  rgb(242, 245, 241);

}
.icons {
    margin-right: 20px;
    margin-bottom: 2px;
    size: 100;
    
} 
.icons1 {
    margin-left: 70px;
}
.icons2 {
    margin-left: 80px;
}
.icons3 {
    margin-left: 40px;
}
.icons4 {
    margin-left: 60px;
}
